{% extends 'base.html'%}


{% block content %}
<div class="column">
    {% for card in cards %}
    <div class="container">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h3 class="card-title">{{card.title}}</h3>
                <div class="inner-content">
                    <div class="subtitle-container">
                        <h4 class="card-subtitle mb-2 text-muted">{{card.term_length}} Month Term</h4>
                        <h4 class="card-subtitle mb-2 text-muted">Rate</h4>
                    </div>
                    <div class="content-container">
                        <div class="text-container">
                            <p class="card-text">{{card.description}}</p>
                        </div>
                        <div class="text-container">
                            <p class="card-text">{{card.rate}}&#8373 per kWh</p>
                            {% if card.title == 'Power of Credit'%}
                            <h6>for 1000 kWh</h6>
                            {% else %}
                            <h6>+ $4.95 per month</h6>
                            {% endif %}
                        </div>

                    </div>
                    <div class="link-button">
                        <div class="link-container">
                            <a href="#" class="card-link">Electricity Facts Label</a>
                            <a href="#" class="card-link">Terms of Service</a>
                            <a href="#" class="card-link">Your Rights as a Customer</a>
                        </div>
                        <button class="enroll">Enroll Now</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}